    border-radius: 100%;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    *{
        margin: 0;
        padding:5;
        box-sizing: border-box;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
       
    }

    body{
        background-color: #f7e9fd;
       
      
    }
    header{
        display: flex;
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(203,179,214,1) 39%, rgba(148,187,233,1) 100%);
        justify-content: space-between;
        align-items: center;
        padding: 0 80px;
        height: 80px;
        text-decoration: none;
        position: fixed;
        width: 100%;
        z-index: 2;
      
    
        
        
    }
    .img-container {
        width:60px;
        height: 70px;
       
        
    }
    
    .img-container img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
      
    }
    
    
    .navitems a{
        color: rgb(85, 16, 63);
        padding: 8px;
        transition: 0.3s ease-in-out;
        margin-right: 8px;
        text-transform: uppercase;
        text-decoration: none;
        font-family: "Google Sans", -apple-system, BlinkMacSystemFont, sans-serif;
        font-weight: 400;
        font-size: 16px;
        font-style: normal;
        
       
    }
    
    .navitems a:hover{
        color:#ffffff;
      cursor: pointer;
       }
    
       .img-capa {
        width: 100%;
        height: 200px;
        
    }
    
    .img-capa img{
        width: 100%;
        height: 200%;
        
    }
    
    #sobremim{
        padding: 16px 0;
        display: flex;
        justify-content: center;
    }
    
    .sobremim-content {
        display: flex;
        justify-content: flex-end;
        position: relative;
        width: 50%;
    }
    
    .redes-conteiner{
      position: absolute;
      top: -90px;
      left: 0px;
    }
    
    .perfil-redes{
      background-image: url("https://scontent.fcgh3-1.fna.fbcdn.net/v/t39.30808-6/334205177_3421239601425940_5491897310541771840_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeHnUeJqYIMx4MOFFyoiDv3RS0mXNhwR3nBLSZc2HBHecLTMClonxEOg1gfX5fmw07zR6sWS6n3KOedsrL5GAVRx&_nc_ohc=nd2o5yx6qNoAX8c3kTf&_nc_ht=scontent.fcgh3-1.fna&oh=00_AfCN9InPVFP7JAqaJEuLmg0ax8lrHfipggEwdlkP7h1H3A&oe=64A651E1");
      width: 180px;
      height: 180px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      border-radius: 50%;
    }
    
    .perfil-redes a{
      text-decoration: none;
      position: absolute;
    }
    
    .gitbuh{
      bottom: -20px;
      left: 15px;
    
    }
    
    .linkdin{
      bottom: -20px;
      right: 9px;
      transform: translateX(-50%);
    }
    
    
    .perfil-redes img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      transition: 10s;
    }
    
    .perfil-redes img:hover{
    transform: scale(1.2);
      border: 2px solid #8bcb8b;
      
    
        
    }
    
    #sobremim{
      padding: 14px 0;
      display: flex;
      justify-content: center;
      color: #000;
    
    }
    .sobremim-container{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        text-align: justify;
        font-size: 16px;
        font-weight: 400;
        line-height: 1;
    }
    
    .sobremim-container h2{
      font-weight: 700px;
      font-style: normal;
      color:#000;
    
    }

    .sobremim-container h4{
      font-style: italic;
    }
    
    
    .sobremim-item{
      margin-top: 16px;
      padding-left: 8px;
     border-radius: 5px;
    }
    
    
    .ola{
      font-size: 14px;
      font-weight: bold;
      font-size: large;
    }
    
      
    
    
    
    #formacao {
      padding: 16px 0;
      display: flex;
      justify-content: center;
      color: #000;
    }
    
    .formacao-container {
      width: 50%;
    }
    
    .formacao-container h2{
      font-weight: 700px;
      font-style: normal;
      color:#000;
    }
    
    .Formacao-item{
      margin-top: 16px;
      padding-left: 8px;
      border-left: 6px solid #C71585;
     border-radius: 5px;
    }
    
    
    .ano{
      font-size: 14px;
      text-transform: uppercase;
    }
    .diploma{
      font-size: 14px;
    }
    
    .Institucao{
      font-size: 14px;
      text-transform: uppercase;
    }
    
    
    #experiencia {
      padding: 16px 0;
      display: flex;
      justify-content: center;
      color: #000;
      background-color: #800080;
    }
    
    .experiencia-container {
      width: 50%;
    }
    
    .experiencia-container h2{
      font-weight: 700px;
      font-style: normal;
      color:#ffffff;
    }
    
    .experiencia-item{
      margin-top: 16px;
      padding-left: 8px;
      border-left: 6px solid #C71585;
     border-radius: 5px;
     color: #ffffff;
    }
    
    
    .ano{
      font-size: 14px;
      text-transform: uppercase;
    }
    .cargo{
      font-size: 14px;
    }
    
    .empresa{
      font-size: 14px;
      text-transform: uppercase;
    }
    
    
    #projeto{
      padding: 20px 0;
      background-color:  #f7e9fd;
      color:  #3c2e3d;
      display: flex;
      justify-content: center;
      border-radius: 5px solid;
    }
    
    .card-body a {
      font-size: 15px;
      padding: 4px 8px;
      text-decoration: none;
      background-color: rgb(60, 46, 61);
    }
    
    .card-body a:hover{
      background-color: rgb(253, 174, 132);
      color: rgb(250, 249, 249);
      opacity: 1;
      border-radius: 45%;
    }
      
    .botoes {
      display: inline-block;
      border-radius: 4px;
      margin: 0px 5px 10px 40px;
      text-decoration: none;
    }
    
    .card-container {
      width: 50%;
    }
    
    .cards-content {
      display: flex;
      justify-content: space-between;
      width:150%;
      flex-wrap: wrap;
    }
      
    .card-title {
      font-size: 20px;
      text-align: center;
    }
      
    .card-text {
      font-size: 16px;
      text-align: justify;
    }
    
    .card-title {
      font-size: 20px;
      margin-top: 20px;
      text-align: center;
    }
      
    .card-text {
      font-size: 16px;
      text-align: justify;
    }
    
    .card {
      width: 45%;
      height:400px;
      margin-bottom: 5px;
      border-bottom: 1px solid rgb(236, 199, 192);
      
    }
    
    .card:hover{
      cursor: pointer;
      border-bottom: 1px solid rgb(60, 46, 61);
      box-shadow: 0 0 2px 2px rgb(0 0 0 / 12%), 0 10px 16px 0 rgb(0 0 0 / 12%);
    }
    
    .card-container h2 {
      font-weight: 500;
      font-style:none;
    }
    
    
    #contato{
      padding: 20px;
      background-color: #8a4e8a;
      color: #000;
      border-width: 2px;
      border-style:outset;
      display: flex;
      justify-content: center;
      height: 600px;
      }
    
    .contato-container{
      width: 100%;
      justify-content: center;
      }
    
    .contato-container h1{
      font-style:  italic;
      font-weight: 295px;
      color: #000000;
      padding-left: 20%;
    }
    
    .contato-conteudo{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .contato-informacao{
      width: 50%;
      font-family: sans-serif;
      font-weight: 40%;
      font-size: 18px;
      color: #00000;
      justify-content: end;
      padding-left: 20%;
    }
    
    .icones-contato{
      width: 70%;
      display: flex;
    }
    
    .icones-contato img{
      width: 70%;
      height: 70%;
      border: 2px solid wheat;
      border-radius: 10px;
      padding: 4px;
    }
    
    .icones-contato img:hover{
      width: 41%;
      height: 41%;
      border-radius: 3px;
      border-color: #fdae84;
      cursor: pointer;
    }
    .formulario-container{
      width: 40%;
      margin-right: 15%;
      margin-left: 15%;
    }
    
    .btn-form-container {
      width: 100%;
      display: flex;
      justify-content: center;
      color: #00000;
    }
    
    .mb-3{
      color: #00000;
      font-size: 18px;
    }
    
    .botao{
      font-size: 1.2em;
      background-color: #4B0082;
      border-radius: 5px;
      margin-bottom: 1em;
      color: #ffffff;
      padding: 0.2em 0.6em;
      position: relative;
      left: 45%;
      margin-right: -50%;
      transform: translate(-50, -50);
      cursor: pointer;
      transition: all 1s;
    }
    
    .botao:hover{
      background-color:#E6E6FA;
      color: #000000;
      box-shadow: inset 2px 2px rgb(0,0,0,2);
      text-shadow: none;
      }
